@model LearnerProject.Models.Entities.Teacher
@{
    ViewBag.Title = "UpdateTeacher";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Eğitmen Bigisi Güncelleme Formu</h2>

<form method="post">
    @Html.HiddenFor(x => x.TeacherId)
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control", @placeholder = "Lütfen ad soyad giriniz" })
    <br />
    <label>Resim URL</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", @placeholder = "Lütfen geçerli bir resim url giriniz" })
    <br />
    <label>Kullanıcı Adı</label>
    @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Lütfen geçerli bir kullanıcı adı (name001) giriniz" })
    <br />
    <label>Şifre</label>
    @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Lütfen geçerli bir şifre giriniz (en az 8 karakter sayı-büyük harf küçük harf ve noktalama işareti barındırmalı)" })
    <br />
    <label>Unvan</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Lütfen geçerli bir unvan bilgisi giriniz" })
    <br />

    <button class="btn btn-outline-primary"><i class="fas fa-save"></i>Kaydet</button>
</form>

