@model LearnerProject.Models.Entities.About

@{
    ViewBag.Title = "AddAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımızda Bölümü Ekleme Formu</h2>

<form method="post">
    <label>Başlık</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control", @placeholder = "Lütfen geçerli bir başlık giriniz" })
    <br />
    <label>Resim URL</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control", @placeholder = "Lütfen geçerli bir resim url giriniz" })
    <br />
    <label>Alt Açıklama 1</label>
    @Html.TextBoxFor(x => x.Item1, new { @class = "form-control", @placeholder = "Lütfen geçerli bir alt başlık giriniz" })
    <br />
    <label>Alt Açıklama 2</label>
    @Html.TextBoxFor(x => x.Item2, new { @class = "form-control", @placeholder = "Lütfen geçerli bir alt başlık giriniz" })
    <br />
    <label>Alt Açıklama 3</label>
    @Html.TextBoxFor(x => x.Item3, new { @class = "form-control", @placeholder = "Lütfen geçerli bir alt başlık giriniz" })
    <br />
    <label>Açıklama</label>
    @Html.TextAreaFor(x => x.Description, 5, 1, new { @class = "form-control", @placeholder = "Lütfen geçerli bir açıklama metni giriniz" })
    <br />
    <button class="btn btn-outline-primary"><i class="fas fa-save"></i>Kaydet</button>
</form>